<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.employeedetail">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".multiple_view.MultipleViewActivity"/>
        <activity
            android:name=".popularmovie.view.MovieDetailActivity"
            android:label="@string/title_activity_movie_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".popularmovie.view.PopularMovieActivity" />
        <activity android:name=".retrofit.view.RetrofitMainScreenActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".cricket.CricketActivity" />
        <activity android:name=".NavigationDrawerActivity" />
        <activity android:name=".FloatingActionBarActivity" />
        <activity android:name=".snackbar.SnackBarActivity" />
        <activity android:name=".spinner.CustomSpinnerActivity" />
        <activity android:name=".spinner.SpinnerActivity" />
        <activity android:name=".tab.TabLayoutActivity" />
        <activity android:name=".fragcommunication.FragActivity" />
        <activity android:name=".addfrag.AddActivity" />
        <activity android:name=".navigation.NavigationActivity" />
        <activity android:name=".employee_detail.EmployeeDetailsActivity" />
        <activity android:name=".employee_detail.MainActivity" />
    </application>

</manifest>